*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url("https://tse4.mm.bing.net/th/id/OIP.JJD7hWdUBEr-IHVEjt9wEAAAAA?r=0&rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow:hidden;
    color:#fff;
}

.card{
    width:420px;
    background:#1a1a1a;
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.08);
    border-radius:22px;
    padding:28px;
    box-shadow:
        0 25px 60px rgba(0,0,0,.55),
        0 0 30px rgba(59,130,246,.15);
    animation:fadeIn .7s ease;
}

.logo{
    text-align:center;
    color:#fff;
    font-size:30px;
    font-weight:bold;
    margin-bottom:8px;
    text-shadow:0 2px 8px rgba(0,0,0,.5);
}

.subtitle{
    text-align:center;
    color:#fff;
    margin-bottom:22px;
    font-size:14px;
    text-shadow:0 2px 8px rgba(0,0,0,.5);
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(25px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
